.no-content-box {
    width: 100%;
    min-height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: #888888;
    line-height: 4em;
}

.main-container {
    padding: 56px 0 0 0;
    width: 100%;
    min-height: calc(100vh - 380px);
    box-sizing: border-box;
}

.main-container .container > .content {
    width: 66.667%;
    min-height: 340px;
}

.main-container .container > .content > .wrap {
    width: 100%;
    font-size: 16px;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
    line-height: 1;
}

.section-title {
    height: 100%;
    display: inline-block;
}

.sort-type li { 
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
}
.sort-type li:last-child {
    margin-right: 0;
}


/*  SIDE-BAR  */
.main-container .container .side-bar {
    width: 33.33%;
    padding-left: 40px;
}

.main-container .container .side-bar .section-profile {
    width: 300px;
    min-height: 140px;
    background: #f7f7f7;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    color: #757575;
    font-size: 13px;
}

.main-container .container .side-bar .section-profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-container .container .side-bar .logo-postark {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background: #007bff;
    margin-right: 10px;
}

.main-container .container .side-bar .title {
    font-size: 16px;
    color: #121212;
}

.main-container .container .side-bar .introduction {
    font-size: 14px;
    padding: 15px 0 20px;
    border-bottom: 1px solid #dedede;
}

.main-container .container .side-bar .section-profile-date {
    padding-top: 20px;
}