.post-gnb-box {
    width: 100%;
    background-color: #88c3b7;
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.post-nav-box {
    width: 100%;
    background-color: #ffffff;
    height: 64px;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    top: 64px;
    left: 0;
    display: flex;
    justify-content: center;
}

.post-container {
    padding: 148px 20px;
    width: 100%;
    min-height: calc(100vh - 380px);
    display: flex;
    justify-content: center;
}

.post-container > .container {
    display: block;
}

.gnb-container {
    width: 100%;
    max-width: 1072px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.gnb-container > div, .gnb-container .icon-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gnb-container .icon-list li, .gnb-container .btn-hover {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    margin-right: 5px;
    cursor: pointer;
}
.gnb-container .icon-list li:last-child, .gnb-container .btn-hover {
    margin-right: 0;
}
.gnb-container .icon-list li.search {
    background: url('../../../images/ico-search.png') center no-repeat;
    background-size:20px auto;
}
.gnb-container .icon-list li.noti {
    background: url('../../../images/ico-bell.png') center no-repeat;
    background-size:20px auto;
}
.gnb-container .icon-list li.mypage {
    background: url('../../../images/user-default.png') center no-repeat;
    background-size:32px auto;
}

.gnb-container .icon-list li.bookmark {
    background: url('../../../images/ico-bookmark.png') center no-repeat;
    background-size:20px auto;
}

.gnb-container .icon-list li.settings {
    background: url('../../../images/ico-settings.png') center no-repeat;
    background-size:20px auto;
}

.gnb-container button.prev-article {
    background: url('../../../images/caret-right.png') center no-repeat;
    transform: scaleX(-1);
    background-size:10px auto;
}

.gnb-container button.next-article {
    background: url('../../../images/caret-right.png') center no-repeat;
    background-size:10px auto;
}

.gnb-container button.home {
    background: url('../../../images/arrow-prev.png') center no-repeat;
    background-size:16px auto;
}

.gnb-container .icon-list li:hover, .gnb-container .btn-hover:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.gnb-container .postype-title {
    padding-left: 32px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
}
.gnb-container h1::before {
    content:"";
    display: block;
    width: 1px;
    height: 15px;
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 8px;
    left: 16px;
}

.gnb-container .logo-box {
    width: 32px;
    height: 32px;
    border-radius : 3px;
    background: #fff;
}

.gnb-container .article-title {
    font-size: 17px;
    margin: 0 3px;
}

