.header .container {
    height: 100%;
}

.gnb-bar, .nav-bar {
    height: 64px;
}

.logo-box { 
    display: block;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    background: url('../logo_w.svg');
    background-size: 100%;
}

h1 {
    font-size: 36px;
    line-height: 1.5em;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

.nav-bar ul {
    height: 100%;
}

.nav-bar li {
    display: inline-block;
    height: 100%;
    margin-right: 30px;
    line-height: 66px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}
.nav-bar li > a {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    transition: opacity 0.1s linear;
    opacity: 0.7;
}
.nav-bar li.selected {
    border-bottom: 2px solid #ffffff;
 }
.nav-bar li:hover > a { 
    opacity: 1;
}